__pycache__/
*.pyc
.DS_Store
src/resource_pack/textures/blocks/vault_safe.png
src/resource_pack/textures/blocks/vault_safe_normal.png
src/resource_pack/textures/blocks/vault_safe_mer.png
src/resource_pack/textures/blocks/vault_safe_stage1.png
src/resource_pack/textures/blocks/vault_safe_stage1_normal.png
src/resource_pack/textures/blocks/vault_safe_stage1_mer.png
src/resource_pack/textures/blocks/vault_safe_stage2.png
src/resource_pack/textures/blocks/vault_safe_stage2_normal.png
src/resource_pack/textures/blocks/vault_safe_stage2_mer.png
src/resource_pack/textures/blocks/vault_safe_stage3.png
src/resource_pack/textures/blocks/vault_safe_stage3_normal.png
src/resource_pack/textures/blocks/vault_safe_stage3_mer.png
src/resource_pack/textures/items/crowbar_3d.png
src/resource_pack/textures/items/crowbar_3d_normal.png
src/resource_pack/textures/items/crowbar_3d_mer.png
src/resource_pack/textures/items/crowbar_icon.png
